{% extends 'layouts/_master.twig' %}

{% block main %}

    <!-- begin content -->
    <div class="row app-container">
        <div class="col-xs-12">

            {# Construyendo la información del sitio #}
            <div class="center-block product-view-center-block">

                <div class="row product-view">
                    <div class="col-xs-12">
                        
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-header">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h1>
                                                <strong>{{ title }}</strong>
                                            </h1>
                                            <span>Actualizado el 26 de mayo del 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisi venenatis, ullamcorper felis eu, condimentum ligula. Cras et quam a velit fermentum eleifend nec sit amet enim. Vestibulum vel tellus interdum, faucibus urna nec, cursus magna. Fusce ullamcorper porta augue eu iaculis. Cras condimentum consequat erat, non efficitur sapien dignissim id. Proin nec eros odio. Ut facilisis viverra ullamcorper.
                                </p>
                                <p>
                                    Etiam tincidunt iaculis libero, eu tristique dui venenatis id. Integer id mattis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus est commodo nisi iaculis, quis tincidunt est ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut urna vel ligula ultrices faucibus. Praesent non leo id tortor rutrum porta. Ut eget congue enim. Nunc gravida, sapien eget lacinia dignissim, lectus turpis pharetra ex, vel ullamcorper odio diam eget ex. Aenean dignissim posuere hendrerit. Morbi tincidunt mattis lacus. Vivamus iaculis bibendum tellus, vitae interdum tellus euismod a.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisi venenatis, ullamcorper felis eu, condimentum ligula. Cras et quam a velit fermentum eleifend nec sit amet enim. Vestibulum vel tellus interdum, faucibus urna nec, cursus magna. Fusce ullamcorper porta augue eu iaculis. Cras condimentum consequat erat, non efficitur sapien dignissim id. Proin nec eros odio. Ut facilisis viverra ullamcorper.
                                </p>
                                <p>
                                    Etiam tincidunt iaculis libero, eu tristique dui venenatis id. Integer id mattis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus est commodo nisi iaculis, quis tincidunt est ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut urna vel ligula ultrices faucibus. Praesent non leo id tortor rutrum porta. Ut eget congue enim. Nunc gravida, sapien eget lacinia dignissim, lectus turpis pharetra ex, vel ullamcorper odio diam eget ex. Aenean dignissim posuere hendrerit. Morbi tincidunt mattis lacus. Vivamus iaculis bibendum tellus, vitae interdum tellus euismod a.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisi venenatis, ullamcorper felis eu, condimentum ligula. Cras et quam a velit fermentum eleifend nec sit amet enim. Vestibulum vel tellus interdum, faucibus urna nec, cursus magna. Fusce ullamcorper porta augue eu iaculis. Cras condimentum consequat erat, non efficitur sapien dignissim id. Proin nec eros odio. Ut facilisis viverra ullamcorper.
                                </p>
                                <p>
                                    Etiam tincidunt iaculis libero, eu tristique dui venenatis id. Integer id mattis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus est commodo nisi iaculis, quis tincidunt est ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut urna vel ligula ultrices faucibus. Praesent non leo id tortor rutrum porta. Ut eget congue enim. Nunc gravida, sapien eget lacinia dignissim, lectus turpis pharetra ex, vel ullamcorper odio diam eget ex. Aenean dignissim posuere hendrerit. Morbi tincidunt mattis lacus. Vivamus iaculis bibendum tellus, vitae interdum tellus euismod a.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisi venenatis, ullamcorper felis eu, condimentum ligula. Cras et quam a velit fermentum eleifend nec sit amet enim. Vestibulum vel tellus interdum, faucibus urna nec, cursus magna. Fusce ullamcorper porta augue eu iaculis. Cras condimentum consequat erat, non efficitur sapien dignissim id. Proin nec eros odio. Ut facilisis viverra ullamcorper.
                                </p>
                                <p>
                                    Etiam tincidunt iaculis libero, eu tristique dui venenatis id. Integer id mattis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus est commodo nisi iaculis, quis tincidunt est ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut urna vel ligula ultrices faucibus. Praesent non leo id tortor rutrum porta. Ut eget congue enim. Nunc gravida, sapien eget lacinia dignissim, lectus turpis pharetra ex, vel ullamcorper odio diam eget ex. Aenean dignissim posuere hendrerit. Morbi tincidunt mattis lacus. Vivamus iaculis bibendum tellus, vitae interdum tellus euismod a.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut nisi venenatis, ullamcorper felis eu, condimentum ligula. Cras et quam a velit fermentum eleifend nec sit amet enim. Vestibulum vel tellus interdum, faucibus urna nec, cursus magna. Fusce ullamcorper porta augue eu iaculis. Cras condimentum consequat erat, non efficitur sapien dignissim id. Proin nec eros odio. Ut facilisis viverra ullamcorper.
                                </p>
                                <p>
                                    Etiam tincidunt iaculis libero, eu tristique dui venenatis id. Integer id mattis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus est commodo nisi iaculis, quis tincidunt est ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut urna vel ligula ultrices faucibus. Praesent non leo id tortor rutrum porta. Ut eget congue enim. Nunc gravida, sapien eget lacinia dignissim, lectus turpis pharetra ex, vel ullamcorper odio diam eget ex. Aenean dignissim posuere hendrerit. Morbi tincidunt mattis lacus. Vivamus iaculis bibendum tellus, vitae interdum tellus euismod a.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- end content -->

{% endblock main %}