{# Creando vista del producto de tipo curso virtual #}
<div class="row product-view">
    <div class="col-xs-12">

        <div class="row">

            {# Para pantallas de tablet, escritorio a más #}
            <div class="col-xs-12 col-sm-4 hidden-xs">
                <ul class="list-group list-group-course">
                    <li class="list-group-item">
                        <img class="img-responsive" src="/_vistas/theme/eguru-2017/images/product-image-sample-1.jpg" alt="Product image">
                    </li>
                    <li class="list-group-item list-group-item-alternate">
                        <h3 class="list-group-item-heading">
                            <strong>¿Qué aprenderá el alumno?</strong>
                        </h3>
                        <p class="list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque nunc non dolor vulputate, bibendum aliquam quam convallis. Aenean varius ligula vitae laoreet iaculis. 
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h3 class="list-group-item-heading">
                            <strong>Área de conocimiento</strong>
                        </h3>
                        <p class="list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque nunc non dolor vulputate, bibendum aliquam quam convallis. Aenean varius ligula vitae laoreet iaculis. 
                        </p>
                    </li>
                    <li class="list-group-item list-group-item-important">
                        <h3 class="list-group-item-heading">
                            <strong>Importante</strong>
                        </h3>
                        <p class="list-group-item-text">
                            Si no se registra el mínimo de vacantes, 
                            el curso no se abriráy se hará devolución
                            del dinero al alumno inscrito. Los 
                            profesores están sujetos a confirmación.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <h1>
                                        <strong><small>{{ product.productNamePrefix }}</small></strong>
                                        <br />
                                        <strong>{{ product.productName }}</strong>
                                    </h1>
                                </div>
                                <div class="col-xs-12 col-md-4 btn-group-action">
                                    <a href="/" class="btn btn-wish"><i class="icon-heart"></i></a>
                                    <a href="/" class="btn btn-share"><i class="icon-share-square"></i></a>
                                </div>
                                <div class="col-xs-12 hidden-md hidden-lg">
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-view-section">
                    <div class="col-xs-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque nunc non dolor vulputate, bibendum aliquam quam convallis. Aenean varius ligula vitae laoreet iaculis. Vestibulum imperdiet id augue at tristique. Mauris quam enim, finibus quis commodo et, tristique vel ante. Vestibulum placerat purus nec quam cursus viverra. Integer eu elementum urna. Donec id tellus ut erat consectetur cursus. Donec id massa non augue faucibus varius vitae ac ex.
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h3>
                            <strong>Institución</strong>
                        </h3>
                        <br />
                        <img class="img-responsive" src="/_vistas/theme/eguru-2017/images/product-image-sample-2.jpg" alt="Institution logo image">
                        <br />
                        <br />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque nunc non dolor vulputate, bibendum aliquam quam convallis. Aenean varius ligula vitae laoreet iaculis. 
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>
                                    <strong>Profesores</strong>
                                </h3>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <img class="img-responsive" src="/_vistas/theme/eguru-2017/images/product-image-sample-3.jpg" alt="Institution logo image">
                            </div>
                            <div class="col-xs-8">
                                <h4><strong>Luis Alberto Canales</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque nunc non dolor vulputate, bibendum aliquam quam convallis. 
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-view-section property-section">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <br />
                                <h3>
                                    <strong>Temas</strong>
                                </h3>
                                <ul>
                                    <li>Estadísticas de la innovación internacional y nacional</li>
                                    <li>Investigación en la universidad: contexto nacional e indicadores de calidad</li>
                                    <li>Estadística sobre el uso de biotecnología en España</li>
                                    <li>Índice sintético COTEC de opinión sobre tendencias del sistema español de innovación</li>
                                    <li>El sistema de monitorización de resultados de la I+D+I desarrollado por CDTI</li>
                                    <li>I+D+i y Fashion Tech: Revelando una curiosa relación estadística con los sistemas planetarios</li>
                                </ul>
                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-md-3 col-xs-offset-2 col-md-offset-0 text-center">
                                <i class="icon-calendar"></i>
                                <br class="hidden-lg" />
                                <h4>
                                    <small>Inicio</small><br>
                                    <strong>25 de Mayo</strong>
                                </h4>
                            </div>
                            <div class="col-xs-4 col-md-3 text-center">
                                <i class="icon-usd"></i>
                                <br class="hidden-lg" />
                                <h4>
                                    <small>Costo</small><br>
                                    <strong>$400.00</strong>
                                </h4>
                            </div>
                            <div class="col-xs-12 col-md-6 text-center">
                                <br class="hidden-md hidden-lg" />
                                <br class="hidden-md hidden-lg" />
                                <a href="/" class="btn btn-sell"><strong>INSCRIBIRSE</strong></a>
                            </div>
                        </div>
                    </div>
                </div>

                {# Para pantallas móviles #}
                <div class="row hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-12">
                        <ul class="list-group list-group-course">
                            <li class="list-group-item">
                                <img class="img-responsive" src="/_vistas/theme/eguru-2017/images/product-image-sample-1.jpg" alt="Product image">
                            </li>
                            <li class="list-group-item list-group-item-alternate">
                                <h3 class="list-group-item-heading">
                                    <strong>¿Qué aprenderá el alumno?</strong>
                                </h3>
                                <p class="list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque nunc non dolor vulputate, bibendum aliquam quam convallis. Aenean varius ligula vitae laoreet iaculis. 
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3 class="list-group-item-heading">
                                    <strong>Área de conocimiento</strong>
                                </h3>
                                <p class="list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque nunc non dolor vulputate, bibendum aliquam quam convallis. Aenean varius ligula vitae laoreet iaculis. 
                                </p>
                            </li>
                            <li class="list-group-item list-group-item-important">
                                <h3 class="list-group-item-heading">
                                    <strong>Importante</strong>
                                </h3>
                                <p class="list-group-item-text">
                                    Si no se registra el mínimo de vacantes, 
                                    el curso no se abriráy se hará devolución
                                    del dinero al alumno inscrito. Los 
                                    profesores están sujetos a confirmación.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>    

                <div class="row product-view-section">
                    <div class="col-xs-12">
                        <form class="row" method="post" action="/shopping-cart/checkout">
                            <div class="col-xs-12 col-md-8">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <br />
                                        <h3>
                                            <strong>Consultas sobre este artículo</strong>
                                        </h3>
                                        <p>
                                            Si tienes alguna consulta sobre este 
                                            producto por favor escríbenos mediante
                                            el siguiente formulario de contacto:
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-10">
                                        <div class="form-group">
                                            <textarea name="comment" class="form-control" placeholder="Escribe aquí tu consulta" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-10 text-right">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-confirm">
                                                <strong>ENVIAR</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>