{% set productsPerRow = productsPerRow is defined ? productsPerRow : 4 %}

{# Creando la lista de productos #}
<div class="row product-list">
    <div class="col-xs-12">
        <h3 class="text-uppercase"><strong>{{ title }}</strong></h3>
        
        <div class="row">
            {% for product in products %}
                
                <div class="col-xs-12 col-sm-6 col-md-{{ 12 / productsPerRow }}">
                    {# Product #}
                    {% include 'products/partials/_product-item.twig' with { 'product': product } %}
                </div>

                {# Para pantallas de móviles #}
                {% if loop.index % 1 == 0 %}
                    <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
                {% endif %}

                {# Para pantallas de tablets #}
                {% if loop.index % 2 == 0 %}
                    <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
                {% endif %}
                
                {# Para pantallas de escritorio y más #}
                {% if loop.index % productsPerRow == 0 %}
                    <div class="clearfix hidden-xs hidden-sm"></div>
                {% endif %}
                
            {% else %}  
                <p class="text-primary">No hay productos por mostrar</p>
            {% endfor %}
        </div>
        
    </div>
</div>