{% extends 'layouts/_master.twig' %}

{% block main %}

    <!-- begin content -->
    <div class="row app-container">
        <div class="col-xs-12">
            
            {###############################################}
            {# Información de demostración sobre productos #}
            {% set products = [{
                type: 'free'
            },{
                type: 'to-sell-now'
            },{
                type: 'to-sell'
            },{
                type: 'to-sell'
            },{
                type: 'to-sell'
            },{
                type: 'to-sell'
            },{
                type: 'to-sell-now'
            },{
                type: 'free'
            }] %}
            
            {###############################################}

            <br />
            <br />

            {# Lista de productos #}
            <div class="center-block home-product-list-center-block">

                {# Creando la lista de productos favoritos #}
                {% include 'products/_product-list.twig' with { 
                    'title'     : 'Favoritos',
                    'products'  : products 
                } %}

                <br />
                <br />
            </div>

        </div>
    </div>
    <!-- end content -->

{% endblock main %}