<div class="row app-footer">
    <div class="col-xs-12">

        <div class="footer-info">

            {# Para escritorio, tablet y móvil #}
            <div class="row footer-top">
                <div class="col-xs-12">

                    <div class="footer-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-12 col-md-4">

                                <div class="footer-body-block">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-12">
                                            <img src="/_vistas/theme/eguru-2017/images/eguru-logo-alternate.png" class="img-responsive" alt="Alternate logo image">

                                            <br />
                                            <br />
                                            <br />
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-12">
                                            <p>
                                                <a href="/" target="_blank">¿Cómo comprar?</a>
                                            </p>
                                            <p>
                                                <a href="/" target="_blank">Preguntas frecuentes</a>
                                            </p>

                                            <br />
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-12">
                                            <h4 class="text-uppercase">¿Consultas?</h4>
                                            <p>
                                                Comunícate al <a href="tel:5552020">555-2020</a>
                                                <br />
                                                o escríbenos a <a href="mailto:contacto@eguru.pe">contacto@eguru.pe</a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                            <br />
                                            <img src="/_vistas/theme/eguru-2017/images/credit-cards.png" class="img-responsive" alt="Credit cards image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-8">
                                
                                {# Para pantallas de tablet #}
                                <br class="hidden-xs hidden-md hidden-lg" />
                                <br class="hidden-xs hidden-md hidden-lg" />
                                <br class="hidden-xs hidden-md hidden-lg" />
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <h4 class="text-uppercase">Categorías</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right hidden-xs">
                                        <img src="/_vistas/theme/eguru-2017/images/credit-cards.png" class="img-responsive" alt="Credit cards image">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="title">Libros</span>
                                                <ul>
                                                    <li><a href="/">Finanzas</a></li>
                                                    <li><a href="/">Recursos Humanos</a></li>
                                                    <li><a href="/">Humanidades</a></li>
                                                    <li><a href="/">Sistemas</a></li>
                                                    <li><a href="/">Economía</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="title">Cursos</span>
                                                <ul>
                                                    <li><a href="/">Diplomados</a></li>
                                                    <li><a href="/">Cursos presenciales</a></li>
                                                    <li><a href="/">Cursos semipresenciales</a></li>
                                                    <li><a href="/">Cursos virtuales</a></li>
                                                    <li><a href="/">Talleres</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="title">Tecnología</span>
                                                <ul>
                                                    <li><a href="/">Computación</a></li>
                                                    <li><a href="/">Celulares</a></li>
                                                    <li><a href="/">Servidores</a></li>
                                                    <li><a href="/">Parlantes</a></li>
                                                    <li><a href="/">Cámaras de video</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="title">Software</span>
                                                <ul>
                                                    <li><a href="/">Sistemas contables</a></li>
                                                    <li><a href="/">Control de almacén</a></li>
                                                    <li><a href="/">Videollamadas</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row footer-bottom">
                <div class="col-xs-12 text-center">
                    <p>
                        <a href="/home/terms-and-conditions">Términos y condiciones</a>
                        &nbsp; | &nbsp;
                        <a href="/home/privacy-policies">Políticas de privacidad</a>
                        <br />
                        E-Guru ® Todos los derechos reservados 2015 - {{ now|date('Y') }} | Desarrollado por OwlGroup
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>