{% extends 'layouts/_master.twig' %}

{% block main %}

    <!-- begin content -->
    <div class="row app-container">
        <div class="col-xs-12">

            <br />
            <br />

            <div class="center-block shopping-cart-center-block">

                {# Creando el mensaje de información #}
                <div class="row shopping-cart-product-list">
                    <div class="col-xs-12">
                        
                        <br />

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <p>
                                    <i class="icon-check-circle"></i>
                                </p>
                                <h1><strong>¡Listo!</strong></h1>
                                <p class="checkout-confirmed-message">
                                    Has recuperado tu cuenta. Ahora puedes 
                                    ingresar con <br /> tu nueva contraseña.
                                </p>
                                <br/>
                            </div>
                        </div>

                    </div>
                </div>

                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
    <!-- end content -->

{% endblock main %}